{:auth
 {:free-for-all? false

  :openid-profiles
  [{:provider {:name       "SP-EU Authentication"
               :config-uri "http://localhost:8080/realms/SP-EU/.well-known/openid-configuration"}

    :client   {:id             "sp-eu"
               :secret         "tehAhByB5uabP7vAQKgh2wmXVnjTxDU9"
               :base-uri       "http://localhost:4321"
               :scopes         ["openid" "profile"]
               :user-info-from :jwt}

    :proxy    {:proxy-host "PROXY"
               :proxy-port 8888}}]}}
