{:deps
 ;; Use deps.edn with alias :frontend to manage cljs dependencies
 {:aliases [:frontend]}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn wisen.frontend.app/init}}}
  :test {:target :browser-test
         :test-dir "target/public/test"
         :devtools {:http-port 9501
                    :http-root "target/public/test"}}}}
